<div>
    <h1 ng-if="daytime">It is now day time!</h1>
    <h1 ng-if="!daytime && started">It is now night time!</h1>
    <div id="textbox">
        <h3>Chat Box</h3>
        <textarea name="textbox" ng-model="chatbox" rows="8" cols="80" scroll-glue disabled></textarea>
    </div>
    <div id="userList">
        <h3>Users</h3>
        <textarea id="users" ng-model=users rows="8" disabled>
        </textarea>
    </div>
    <div id="alive">
        <p>-----Alive-----</p>
        <p>Mafia: {{allroles['Mafia']}}</p>
        <p>Cops: {{allroles['Cop']}}</p>
        <p>Angel: {{allroles['Angel']}}</p>
        <p>Civilians: {{allroles['Civilian']}}</p>
    </div>
    <div id="dead">
        <p>-----Dead-----</p>
        <p>Mafia: {{deadroles['Mafia']}}</p>
        <p>Cops: {{deadroles['Cop']}}</p>
        <p>Angel: {{deadroles['Angel']}}</p>
        <p>Civilians: {{deadroles['Civilian']}}</p>
    </div>
    <form ng-submit="send_message()">
        <input type="text" ng-model="message">
        <input type="submit" value="Send" ng-disabled="!daytime || dead">
    </form>
</div>

<div ng-if="daytime">
    <h2 id="execution" ng-if="showexecuted">{{executed}} has been executed, (s)he was a {{executedrole}}</h2>
    <form ng-submit="dayVote(voteOption)">
        <select ng-model="voteOption" ng-options="player for player in players">
          <option value="">--Select--</option>
        </select>
        <input type="submit" name="" value="Vote to Execute" data-ng-disabled='votecast || dead'>
    </form>
    <textarea id="votebox" name="textbox" ng-model="votebox" rows="8" scroll-glue disabled></textarea>
</div>

<div ng-if="!daytime && role == 'Mafia'">
  <form ng-submit="nightVote(voteOption)">
      <select ng-model="voteOption" ng-options="player for player in players">
        <option value="">--{{action[role]}} a person--</option>
      </select>
      <input type="submit" name="" value="Vote to Execute" data-ng-disabled="dead">
  </form>
  <textarea id="mafiabox" name="textbox" ng-model="mafiabox" rows="8" scroll-glue disabled></textarea>
</div>

<div ng-if="!daytime && (role == 'Cop' || role == 'Angel' )">
  <form ng-submit="nightVote(voteOption)">
      <select ng-model="voteOption" ng-options="player for player in players">
        <option value="">--{{action[role]}} a person--</option>
      </select>
      <input type="submit" name="" value="Vote to Execute" data-ng-disabled="votecast || dead">
  </form>
</div>

<div ng-if='showstart'>
    <button ng-click='start()' ng-disabled="StartCheck()">Start Game</button>
</div>

<div id='role'>
    <h2>Your Role</h2>
    <img src="./images/{{image}}.png">
</div>
