h1{
    color: green;
}

fieldset{
  width: 200px;
}

#textbox{
    vertical-align: top;
    display: inline-block;
}

#userList {
    display: inline-block;
    vertical-align: top;
}

#userList h3{
    text-align: center;
}

#users{
    resize: none;
    vertical-align: top;
}

#votebox{
    resize: none;
}

#alive, #dead {
    vertical-align: top;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    width: 100px;
    height: 200px;
}

#role{
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.vote{
    display: inline-block;
    vertical-align: top;
}

#mafialist{
    text-align: center;
    margin-top: 50px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

#execution{
    color:red;
}

#game_over h1{
    font-size: 72;
}

#game_over{
    text-align: center;
}
